<table mat-table [dataSource]="quotas" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon aria-hidden="false">{{element.icon}}</mat-icon> {{element.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Progress </th>
    <td mat-cell *matCellDef="let element">
        <label>{{element | quotaFraction}} </label>
    </td>
  </ng-container>

  <ng-container matColumnDef="statusBar">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" >
      <span class="progress-section" matTooltip="{{element | statusFromItem : todayIndex}}" [matTooltipPosition]="'right'">
        <mat-progress-bar [ngClass]="(element | quotaPercent) > 99 ? 'green-progress' : 'red-progress'" mode="buffer" value="{{ element | quotaPercent }}" [bufferValue]="element | quotaPlanPercent"></mat-progress-bar>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Comment </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="wider-form-field">
        <input matInput [(ngModel)] = 'element.weekComment'>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container *ngFor="let defName of defNames; let i = index" matColumnDef="{{defName}}">
    <th mat-header-cell *matHeaderCellDef [ngClass]="headerClassFromIndex(i)">
      <div class="day-header">
        <label class="day-label" (click)="selectedDayIndex = i">
          {{ dayDisplayNames[i] + ' ' + dateNumbers[i]}}
        </label>
        <app-weather-display [dayWeather]='dayWeather[i]'></app-weather-display>
        <div class="sub-headers" *ngIf="i === todayIndex || i === selectedDayIndex">
          <label>Done.</label>
          <label>Plan.</label>
        </div>
        <div class="sub-headers" *ngIf="i<todayIndex && i !== selectedDayIndex">
          <label>Done.</label>
        </div>
        <div class="sub-headers" *ngIf="i>todayIndex && i !== selectedDayIndex">
          <label>Plan.</label>
        </div>
      </div>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'wider-td': i === todayIndex || i === selectedDayIndex}" >
      <app-value-selector (changeEvent)='onSelectionChange(element)' [element]='element' [i]='i' [isSelected]='i === selectedDayIndex' ></app-value-selector>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<a (click) = 'onCheckWeather()'>weather</a>