table {

    width: 100%;

    mat-form-field{
      width: 50px;
      height: 50px;
    }
    mat-form-field.wider-form-field{
      width: 150px;
    }

    .mat-column-status{
      width: 50px;
    }

    .mat-column-statusBar{
      width: 100px;
    }

    .mat-column-name{
      width: 200px;
    }

// TODO: Group all mat column classes

    .mat-column-day0 {
      flex: none;
      width: 100px;
    } 

    .mat-column-day1 {
      flex: none;
      width: 100px;
    } 

    .mat-column-day2 {
      flex: none;
      width: 100px;
    } 

    .mat-column-day3 {
      flex: none;
      width: 100px;
    } 

    .mat-column-day4 {
      flex: none;
      width: 100px;
    } 

    .mat-column-day5 {
      flex: none;
      width: 100px;
    } 

    .mat-column-day6 {
      flex: none;
      width: 100px;
    } 

    .wider-td {
      min-width: 150px;
    }

    .today-header {
      width: 200px;
      label{
        font-weight: 600;
        color: black;
        background-color: #919bd0;
        padding: 5px;
        border-radius: 5px;
        width: fit-content;
      }
    }

    .selected-day-header{
      width: 200px;
      .day-label{
          color: black;
          border: 1px solid #cbd0e9;
          padding: 5px;
          border-radius: 5px;
          width: fit-content;
        }
      animation: highlight-selected-day-header 0.5s;
    }

    .day-header {
      .day-label{
        padding: 5px 0;
      }
      height: 75px;
      display: flex;
      flex-direction: column;
    }

    .sub-headers {
      :first-child{
        width: 80px;
      }
      margin-top: 10px;
      label{
        padding: 0;
        display: inline-flex;
        
        color: #919bd0;
        background-color: transparent;
      }

    }
    
    .progress-section{
      display: flex;
      align-items: center;
      label {
        white-space: nowrap;
      }
      mat-progress-bar{
        margin: 10px;
        border: 1px solid #919bd0;
      }

    }

    ::ng-deep .mat-progress-bar-background{
      animation: none!important;
      background-color: white;
    }

    ::ng-deep .mat-progress-bar-buffer{
      background-color: #cbd0e9;
    }

    ::ng-deep rect {
      display: none!important;
    }

  }

  @keyframes highlight-selected-day-header {
    0% {background-color: #cbd0e9;}
    100% {background-color: transparent;}
  }