.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.999); /* White see-through */
    width: 100%;
    padding: 20px;
    text-align: center;
}