<div class="container">
    <div>
        <div class="header-with-bar">
            <H1>{{title}}</H1>
            <div class="main-progress-bar-container">
                <mat-progress-bar [ngClass]="'good-progress'" mode="buffer" value="{{completedPercent}}" [bufferValue]="plannedPercent"></mat-progress-bar> 
                <div class="dayTicks">
                    <div class="section"></div>
                    <div class="tick"></div>
                    <div class="section"></div>
                    <div class="tick"></div>
                    <div class="section"></div>
                    <div class="tick"></div>
                    <div class="section"></div>
                    <div class="tick"></div>
                    <div class="section"></div>
                    <div class="tick"></div>
                    <div class="section"></div>
                    <div class="tick"></div>
                    <div class="section"></div>
                </div>
            </div>
        </div>
        <app-week-table [quotas]='quotas' (weekComplete$)="onComplete()"></app-week-table>
        
        <button mat-icon-button (click)="onSave()">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button (click)="onClear()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="showAdminSettings = !showAdminSettings">
            <mat-icon>settings</mat-icon>
        </button>
        <app-import-export-text *ngIf='showAdminSettings' [quotaData]='quotas' (importNewDataEvent)='onLoadFromImport($event)'></app-import-export-text>
    </div>
    <div class="overlay" *ngIf="showCompletionPage" (click)="closeCompletionPage()">
        <app-completion-page></app-completion-page>
    </div>
</div>

